<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>You've been automatically subscribed to your post, "<%= @post.title %>"</h1>
  <p>
    You'll receive notifications when others comment on it!
  </p>
  <p>
    <%= link_to "View post on site", topic_post_url(@post.topic, @post) %>
  </p>
</body>
</html>
